.main {
  width: 100%;
  height: 89vh;
}

.header {
  padding-top: 10px;
  display: flex;
  align-items: center;
  margin-left: 0px;
  width: 100%;
}

.left {
  width: 50%;
  display: flex;
  margin-left: 50px;
}

.right {
  width: 50%;
  display: flex;
  justify-content: end;
}

.header h3 {
  color: #2e0052;
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 1px;
}

.headerText {
  margin: 6px 0 0 15px;
  color: #2e0052;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.logoImg {
  width: 35px;
  height: 35px;
}

.cartIn {
  color: #fff;
  height: 34px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d7000;
  font-size: 14px;
  border-radius: 20px;
  margin-right: 60px;
}

.cartText {
  margin-left: 5px;
}

.cartNo {
  margin-left: 4px;
  font-size: 16px;
}

.backBtnArea {
  margin-top: 10px;
  width: 100%;
  height: 40px;
}

.backBtn {
  width: 120px;
  height: 30px;
  border: none;
  border-radius: 12px;
  margin-left: 50px;
  background-color: #2e0052;
  color: #fff;
}

.pFullNameArea {
  margin-top: 5px;
  width: 100%;
  height: 40px;
}

.pFullName {
  margin-left: 50px;
}

.content {
  width: 100%;
  height: 500px;
  display: flex;
}

.conLeft {
  width: 50%;
  height: 500px;
  display: flex;
}

.smallImgs {
  width: 20%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.smallImgs img {
  width: 80px;
  height: 100px;
  margin-bottom: 15px;
  margin-right: 10px;
  border: 3px solid black;
  border-radius: 15px;
}

.smallImgs img:first-child {
  margin-top: 12px;
}

.showImgs {
  margin-top: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  border-radius: 10px;
  width: 80%;
  height: 450px;
}

.conRight {
  width: 50%;
  height: 500px;
  padding-left: 30px;
  padding-top: 20px;
}

.itemRatting {
  display: flex;
  font-size: 16px;
}

.rattingNo {
  padding-left: 10px;
}

.pirceDiv {
  margin-top: 20px;
  font-size: 20px;
}

/* .aboutItemDiv{
  height: 200px;
  background-color: antiquewhite;
} */

.aboutItemHead {
  font-size: 18px;
}

.aboutItem {
  font-size: 14px;
}

.avaP {
  margin-top: 20px;
  font-size: 16px;
}

.brand {
  margin-top: 4px;
  font-size: 16px;
}

.buttons {
  margin-top: 15px;
}

.addToCart {
  width: 180px;
  height: 35px;
  background-color: #ffd600;
  border: none;
  border-radius: 50px;
  font-size: 16px;
}

.buyNow {
  width: 180px;
  height: 35px;
  background-color: #ffb800;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  margin-left: 10px;
}

.backBtn2{
  display: none;
}

.pFullName2{
  display: none;
}

.content2{
  display: none;
}

@media (max-width: 600px) {
  .main {
    height: 95vh;
  }

  .header {
    background-color: #2e0052;
    display: flex;
    align-items: center;
    padding: 0;
    height: 6vh;
  }

  .left {
    margin-left: 15px;
  }

  .header h3 {
    color: #fff;
  }

  .headerText {
    display: none;
  }

  .cartIn {
    display: none;
  }

  .backBtnArea {
    margin-top: 0;
  }

  .backBtn {
    display: none;
  }

  .backBtn2 {
    display: block;
    width: 32px;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin-left: 20px;
    box-shadow: 4px 2px 7px 0px rgb(128, 123, 123);
  }

  .pFullNameArea {
    margin: 0;
    height: 3vh;
  }

  .pFullName {
    display: none;
  }

  .pFullName2 {
    display: block;
    font-size: 16px;
  }

  .content {
    display: none;
  }

  .content2 {
    display: block;
    overflow: hidden;
  }

  .conRight2 {
    height: 40vh;
    flex: 1;
    padding: 10px 10px;
  }

  .itemName2 {
    margin-top: 10px;
  }

  .itemName2 p {
    font-weight: bold;
    font-size: 18px;
  }

  .itemRatting2 {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }

  .rattingStars2 {
    color: #f0ad4e;
  }

  .rattingNo2 {
    margin-left: 5px;
  }

  .pirceDiv2 {
    margin-top: 5px;
  }

  .pirce2 {
    font-weight: bold;
    font-size: 16px;
  }

  .aboutItemDiv2 {
    margin-top: 5px;
  }

  .aboutItemHead2 {
    font-weight: bold;
    font-size: 16px;
  }

  .aboutItem2 {
    display: none;
  }

  .avaP2,
  .brand2 {
    margin-top: 5px;
    font-size: 14px;
  }

  .buttons2 {
    margin-top: 10px;
  }

  .addToCart2,
  .buyNow2 {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  .addToCart2 {
    background-color: #ffd600;
    color: #fff;
    margin-bottom: 10px;
  }

  .buyNow2 {
    background-color: #ffb800;;
    color: #fff;
  }

  .conLeft2{
    height: 40vh;
  }

  .smallImgs2{
    height: 38vh;
  }

  .smallImgs2Img {
    width: 100%; /* Set width to 100% */
    height: 38vh; /* Set the desired height */
  }
}

