.main2 {
  width: 100%;
  height: 5vh;
  background-color: #2e0052;
  display: flex;
  align-items: center;
  justify-content: center; /* Adjusted for space between elements */
  color: #fff;
  z-index: 9999;
  position: relative;
  padding: 0 20px; /* Added padding */
}

.links {
  display: none; /* Initially hide the links */
}

@media (min-width: 601px) {
  .main1 {
    display: none;
  }
}

@media (max-width: 600px) {
  .main1 {
    width: 100%;
    height: 5vh;
    display: block;
    background-color: #fff;
    padding: 0px;
  }

  .main2 {
    display: none;
  }

  .line {
    width: 100%;
    height: 1px;
    background-color: #2e0052;
    margin-bottom: 5px;
  }

  .links {
    display: flex; /* Display the links */
    gap: 120px; /* Add gap between links */
    color: #2e0052;
    justify-content: center;
  }

  .links span {
    font-size: 30px;
  }

  .textInner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text {
    display: none;
  }
}
